<!DOCTYPE html>
<html>
    <head>
        <title>Tile Matcher</title>
        <link rel="stylesheet" type="text/css" href="matcher.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <h1>Match The Tiles</h1>
        <div id="container">
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
            <div class="tile"><i class="fa fa-3x"></i></div>
        </div>
        
        <script type="application/javascript" src="matcher.js"></script>
    </body>
</html>